/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    

}
header{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.player-container-2{
    margin-top: 27px;
    width:1440px;
    background-color: #FFFFFF;
  }
/* headings styles */

nav{
    display: flex;
    justify-content: space-around;
    background-color: #2D25A0;
    align-items: center;
    width: 1440px;
    padding-top: 42px;

}
nav a{
    font-family: Poppins;
    text-decoration: none;
    color:#FFFFFF;
    font-size: 16px;
    margin-right:20px;
    width: 590px;
    height: 24px;

}

.login-btn,.watch-button{
    background-color: #E02C6D;
    font-size: 16px;
    color: #FFFFFF;
    width: 123px;
    height: 44px;
   
}

/* ------------------------
      Top Banner styles
--------------------------- */

.banners{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:#2D25A0;
   width: 1440px;
   height: 677px;
}
.banner-details{
    padding-top:207px;
    padding-left:156px;
    padding-bottom:240px;
   
}
.banner-title{
    font-size: 64px;
    color:#FFFFFF ;
   
}

.watch-button{
    background-color: #E02C6D;
    font-size: 16px;
    color: #FFFFFF;
    width: 168px;
    height: 44px;
   
}
.top-banner img{
    width: 556.01px;
    height: 438px;
    padding-top: 153px;
    padding-bottom: 86px;
    padding-right: 140.99px;
}

/* Players information  */

.player-container{
    margin-top: 70px;
    width:1440px;
    background-color: #FFFFFF;
  }
.flexible-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    padding-left: 180px;
    padding-right: 210px;
    
}
.box-container{
    width: 315px;
    height: 474px;
    padding-left: 15px;
    margin-right: 15px;
   
    box-shadow: 2px 2px 30px gray;
    border-image-slice: 1;
}
.box-container h1{
    font-size: 28px;
}
.box-container p{
    font-size: 16px;
    padding-right: 15px;
}
.player-img-area{
    width: 300px;
    height: 256px;
    padding-top: 15px;
    padding-right: 15px;


}
    